body {
  max-width: 50%;
  margin: 0 auto;
}

.container {
  max-width: 80vw;
  height: 100vh;
  margin-top: 1vh;
}

.mitad-superior {
  margin: 0 auto;
  background: linear-gradient(to bottom right, rgb(190, 18, 18), rgb(153, 17, 17));
  width: 475px;
  height: 425px;
  border-radius: 30px 30px 15px 15px;
  border: 2.5px solid rgb(134, 0, 0);
  border-top-color: rgb(155, 15, 15);
  border-bottom-color: rgba(24, 1, 1, 0.664);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
}

.pantallanegra {
  margin: 0 auto;
  position: relative;
  background-color: rgb(19, 19, 19);
  width: 410px;
  height: 320px;
  top: 45px;
  border-radius: 10px;
  border-top: 5px solid rgb(116, 12, 12);
  border-left: 5px solid rgb(228, 13, 13);
  border-bottom: 5px solid rgb(112, 11, 11);
  border-right: 5px solid rgb(153, 17, 17);
}

/* logo de gameboy */
.gameboy {
  background-image: url(./images/Gameboy_advance_SP_logo.svg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  top: 290px;
  width: 190px;
  height: 20px;
}

.pantallaverde {
  margin: 0 auto;
  position: relative;
  background: linear-gradient(to bottom right, rgb(97, 117, 95), rgb(36, 44, 35));
  width: 373px;
  height: 270px;
  bottom: 272px;
  border-radius: 2px;
}

.pantallaverde:hover {
  background-image: url(./images/desktop-wallpaper-pokemon-firered-and-leafgreen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: end;
}

/* las gomitas que hay alrededor de la pantalla */
.goma1 {
  margin: 0 auto;
  position: relative;
  width: 32px;
  height: 33px;
  bottom: 593px;
  right: 205px;
  border-radius: 100%;
  border: 1px solid rgba(58, 10, 10, 0.199);
  background: linear-gradient(to right, rgba(175, 33, 33, 0.788), rgba(197, 51, 51, 0.788));
}

.goma2 {
  margin: 0 auto;
  position: relative;
  width: 32px;
  height: 33px;
  bottom: 633px;
  left: 205px;
  border-radius: 100%;
  border: 2px solid rgba(58, 10, 10, 0.199);
  background: linear-gradient(to right, rgba(175, 33, 33, 0.788), rgba(219, 55, 55, 0.788));
}

.goma3 {
  margin: 0 auto;
  position: relative;
  width: 26px;
  height: 27px;
  bottom: 666px;
  border-radius: 100%;
  border: 1px solid rgba(58, 10, 10, 0.199);
  background: linear-gradient(to right, rgba(175, 33, 33, 0.788), rgba(197, 51, 51, 0.788));
}

.goma4 {
  margin: 0 auto;
  position: relative;
  width: 26px;
  height: 27px;
  bottom: 315px;
  border-radius: 100%;
  border: 1px solid rgba(58, 10, 10, 0.199);
  background: linear-gradient(to right, rgba(175, 33, 33, 0.788), rgba(197, 51, 51, 0.788));
  right: 205px;
}

.goma5 {
  margin: 0 auto;
  position: relative;
  width: 26px;
  height: 27px;
  bottom: 345px;
  border-radius: 100%;
  border: 1px solid rgba(58, 10, 10, 0.199);
  background: linear-gradient(to right, rgba(175, 33, 33, 0.788), rgba(197, 51, 51, 0.788));
  left: 205px;
}

/* la visagra tiene dos partes: 1- Dos elementos que la unen a la pantalla y 2- la visagra principal
dividida en 5 trozos */
.union-visagra {
  margin: auto;
  width: 475px;
  height: 14px;
  display: flex;
}

.union-izq {
  display: flex;
  background-color: rgb(165, 16, 16);
  width: 190px;
  margin-left: 45px;
  border-bottom: 3px solid rgba(117, 15, 15, 0.651);
  border-right: 3px solid rgb(180, 180, 180);
  position: relative;
  z-index: 3;
}  

.union-der {
  display: flex;
  background-color: rgb(165, 16, 16);
  width: 30px;
  margin-left: 170px;
  border-top: 1px solid rgba(24, 1, 1, 0.295);
  border-bottom: 3px solid rgba(124, 15, 15, 0.651);
  z-index: 3;
}  
  
.visagra {
  margin: auto;
  width: 475px;
  height: 60px;
  position: relative;
  z-index: 2;
  bottom: 8px;
  display: flex;
  }

  .visagra1 {
    background: linear-gradient(to top,rgb(71, 3, 3),rgb(190, 18, 18), rgb(49, 0, 0));
    width: 41px;
    height: 60px;
    border-radius: 25px 0px 0px 25px;
    border: 1px solid rgb(71, 3, 3);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgba(131, 15, 15, 0.664);
    border-right: 2px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.596);
  }

  .visagra2 {
    background: linear-gradient(to top,rgb(71, 3, 3),rgb(190, 18, 18), rgb(107, 11, 11));
    width: 189px;
    height: 60px;
    border: 1px solid rgb(71, 3, 3);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgba(131, 15, 15, 0.664);
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.596);
  }

  .visagra3 {
    background: linear-gradient(to top,rgb(71, 3, 3),rgb(190, 18, 18), rgb(58, 3, 3));
    width: 167px;
    height: 60px;
    border: 1px solid rgb(71, 3, 3);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgba(131, 15, 15, 0.664);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.596);
    border-left: 3px solid rgba(0, 0, 0, 0.664);
    border-right: 2px solid black;
  }

  .visagra4 {
    background: linear-gradient(to top,rgb(71, 3, 3),rgb(190, 18, 18), rgb(107, 11, 11));
    width: 30px;
    height: 60px;
    border: 1px solid rgb(71, 3, 3);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgba(131, 15, 15, 0.664);
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.596);
    border-right: 2px solid black;
  }

  .visagra5 {
    background: linear-gradient(to top,rgb(71, 3, 3),rgb(190, 18, 18), rgb(49, 0, 0));
    width: 32px;
    height: 60px;
    border-radius: 0px 25px 25px 0px;
    border: 1px solid rgb(71, 3, 3);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgba(131, 15, 15, 0.664);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.596);
  }
  
  .mitad-inferior {
    background: linear-gradient(to top, rgb(190, 18, 18), rgb(155, 16, 16));
    margin: auto;
    width: 465px;
    height: 430px;
    position: relative;
    z-index: 1;
    border-radius: 15px 15px 35px 35px;
    bottom: 30px;
    border: 2.5px solid rgb(134, 0, 0);
    border-bottom-color: 1px rgba(24, 1, 1, 0.788);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.623);
  }

  /* la cruceta tiene un circulo exterior y un grid para hacer la cruz */

  .cruceta {
    background-color: rgba(145, 14, 14, 0.514);
    border: 9px solid rgba(124, 12, 12, 0.507);
    border-left: 9px solid rgba(126, 24, 24, 0.363);
    border-right: 9px solid rgba(128, 24, 24, 0.363);
    margin: auto;
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    top: 100px;
    right: 120px;
  }

  .grid-cruceta {
    margin: auto;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100px;
    height: 100px;
    top: 15px;
  }

  .grid-item2, .grid-item4, .grid-item5, 
  .grid-item6, .grid-item8 {
    background-color: rgb(54, 54, 54);
    border-radius: 1px;
  }
  
  .grid-item2 {
    border-radius: 5px 5px 0px 0px;
    border-top: 2px solid rgba(0, 0, 0, 0.507);
    border-left: 2px solid rgba(0, 0, 0, 0.507);
    border-right: 2px solid rgba(0, 0, 0, 0.507);
  }

  .grid-item4 {
    border-radius: 5px 0px 0px 5px;
    border-top: 2px solid rgba(0, 0, 0, 0.507);
    border-left: 3px solid rgba(0, 0, 0, 0.507);
    border-bottom: 3px solid rgba(0, 0, 0, 0.507);
  }

  .circulo {
    background-color: rgba(61, 61, 61, 0.267) ;
    border-left: 2px solid rgba(59, 59, 59, 0.418);
    border-right: 2px solid rgba(59, 59, 59, 0.418);
    margin: auto;
    position: relative;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  .grid-item6 {
    border-radius: 0px 5px 5px 0px;
    border-top: 2px solid rgba(0, 0, 0, 0.507);
    border-right: 3px solid rgba(0, 0, 0, 0.507);
    border-bottom: 3px solid rgba(0, 0, 0, 0.507);
  }

  .grid-item8 {
    border-radius: 0px 0px 5px 5px;
    border-left: 3px solid rgba(0, 0, 0, 0.507);
    border-right: 3px solid rgba(0, 0, 0, 0.507);
    border-bottom: 3px solid rgba(0, 0, 0, 0.507);
  }

  .circulo-botonluz {
    margin: auto;
    position: relative;
    border-radius: 50%;
    border: 5px solid rgba(92, 7, 7, 0.384);
    border-top: 5px solid rgba(129, 12, 12, 0.432);
    width: 30px;
    height: 30px;
    bottom: 100px
  }

  .botonluz {
    background: linear-gradient(to right, rgb(61, 61, 61), rgb(73, 73, 73));
    margin: auto;
    position: relative;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.575);
    border-bottom: 3px solid rgba(0, 0, 0, 0.575);
    width: 27px;
    height: 27px;
  }

  /* los botones A y B */
  .ab {
    background-color: rgba(145, 14, 14, 0.514);
    margin: auto;
    width: 150px;
    height: 70px;
    position: relative;
    border-radius: 50px 50px 50px 50px;
    border: 9px solid rgba(124, 12, 12, 0.507);
    rotate: 165deg;
    left: 105px;
    bottom: 60px;
  }

  .boton-b {
    background: linear-gradient(to right, rgb(61, 61, 61), rgb(73, 73, 73));
    margin: auto;
    position: relative;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.575);
    border-bottom: 3px solid rgba(0, 0, 0, 0.575);
    border-left: 3px solid rgba(0, 0, 0, 0.575);
    width: 45px;
    height: 45px;
    top: 10px;
    left: 40px;
    rotate: 195deg;
  }

  .b {
    text-align: center;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    top: 8px;
    color: rgba(41, 41, 41, 0.801) ;
  }

  .boton-a {
    background: linear-gradient(to right, rgb(61, 61, 61), rgb(73, 73, 73));
    margin: auto;
    position: relative;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.575);
    border-bottom: 3px solid rgba(0, 0, 0, 0.575);
    border-left: 3px solid rgba(0, 0, 0, 0.575);
    width: 45px;
    height: 45px;
    bottom: 40px;
    right: 40px;
    rotate: 195deg;
  }

  .a {
    text-align: center;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    top: 7px;
    width: 45px;
    height: 45px;
    color: rgba(41, 41, 41, 0.801) ;
  }

/* luces de encendido y bateria baja */

  .luzverde {
    background: linear-gradient(to right, rgb(114, 223, 25), rgb(60, 168, 18));
    margin: auto;
    position: relative;
    width: 12px;
    height: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.842);
    border-left: 2px solid rgba(0, 0, 0, 0.829);
    border-bottom: 2px solid rgba(0, 0, 0, 0.836);
    bottom: 220px;
    left: 228px;
  }

  .luzapagada {
    background: linear-gradient(to right, rgb(61, 61, 61), rgb(73, 73, 73));
    margin: auto;
    position: relative;
    width: 12px;
    height: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.842);
    border-left: 2px solid rgba(0, 0, 0, 0.829);
    border-bottom: 2px solid rgba(0, 0, 0, 0.836);
    bottom: 203px;
    left: 228px;
  }

  /* por donde sale el sonido hecho con un grid */
  .altavoz{
    margin: auto;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 80px;
    height: 80px;
    bottom: 60px;
    right: 10px;
    grid-gap: 17px;
  }

  .gridaltavoz1 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)50%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz2 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)50%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz3 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)50%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz4 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)50%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz5 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)50%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz6 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)70%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz7 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)70%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz8 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)50%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz9 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)50%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz10 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)70%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz11 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)70%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz12 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)50%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz13 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)50%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz14 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)50%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz15 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)50%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .gridaltavoz16 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(48, 48, 48)50%);
    border-radius: 50%;
    border: 0.5px solid rgba(41, 41, 41, 0.904);
  }

  .select {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -1.6px;
    color: rgb(124, 12, 12);
    font-size: 20px;
    margin: auto;
    position: relative;
    left: 150px;
    bottom: 55px
  }

  .start {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -1.6px;
    color: rgb(124, 12, 12);
    font-size: 20px;
    margin: auto;
    position: relative;
    left: 246px;
    bottom: 79px
  }

/* los botones del start y el select */

  .circulo-botoncito1 {
    margin: auto;
    position: relative;
    border-radius: 50%;
    border: 10px solid rgba(105, 9, 9, 0.384);
    border-top: 10px solid rgba(87, 9, 9, 0.432);
    border-bottom: 10px solid rgba(87, 9, 9, 0.432);
    width: 40px;
    height: 40px;
    bottom: 75px;
    right: 60px;
  }

.botoncito1 {
  background: linear-gradient(to right, rgb(61, 61, 61), rgb(73, 73, 73));
  margin: auto;
  position: relative;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.575);
  border-bottom: 3px solid rgba(0, 0, 0, 0.575);
  width: 27px;
  height: 27px;
  top: 4px;
  }

  .circulo-botoncito2 {
    margin: auto;
    position: relative;
    border-radius: 50%;
    border: 10px solid rgba(105, 9, 9, 0.384);
    border-top: 10px solid rgba(87, 9, 9, 0.432);
    border-bottom: 10px solid rgba(87, 9, 9, 0.432);
    width: 40px;
    height: 40px;
    bottom: 135px;
    left: 35px;
  }

.botoncito2 {
  background: linear-gradient(to right, rgb(61, 61, 61), rgb(73, 73, 73));
  margin: auto;
  position: relative;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.575);
  border-bottom: 3px solid rgba(0, 0, 0, 0.575);
  width: 27px;
  height: 27px;
  top: 4px;
  }

